* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

body {
  margin: 30px;
}

.text-areas-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 100px auto;
  min-height: 150px;
  max-height: 800px;
  height: 160px;
}

.text-areas-wrapper .reverse-language {
  cursor: pointer;
  color: #6d6d6d;
  padding: 10px 8px;
}

.text-areas-wrapper .reverse-language i {
  font-size: 20px;
}

.translate-box {
  position: relative;
  width: 470px;
  height: 100%;
}

.translate-box textarea {
  width: 100%;
  height: 100%;
  resize: none;
  padding: 40px 15px 30px;
  font-size: 20px;
  font-family: sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.translate-box .clear-button {
  cursor: pointer;
  color: #6d6d6d;
  position: absolute;
  top: 10px;
  left: 10px;
}

.translate-box .clear-button i {
  font-size: 20px;
}

.translate-box .clear-button:hover {
  color: #383838;
}

.translate-box .copy-button {
  cursor: pointer;
  color: #6d6d6d;
  position: absolute;
  top: 10px;
  right: 10px;
}

.translate-box .copy-button i {
  font-size: 20px;
}

.translate-box .copy-button:hover {
  color: #383838;
}

.translate-box .language {
  color: #6d6d6d;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  padding: 5px;
}

.translate-box .language .hidden {
  display: none !important;
}

.translate-box .language .languages-list {
  display: block;
  position: absolute;
  z-index: 1000;
  list-style-type: none;
  border: 2px solid #fc9312;
  border-radius: 5px;
}

.translate-box .language .languages-list li {
  background-color: white;
  padding: 10px 45px 10px 10px;
  cursor: pointer;
}

.translate-box .language .languages-list li:hover {
  background-color: #dadada;
  color: #fc9312;
}

.translate-box .text-length {
  color: #6d6d6d;
  font-size: 13px;
  position: absolute;
  bottom: 10px;
  right: 15px;
}

#source .language {
  position: absolute;
  top: 8px;
  right: 8px;
}

#source .language::before {
  content: "";
  display: inline-block;
  border: 3px solid orange;
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 2px;
}

#target .language {
  position: absolute;
  top: 8px;
  left: 8px;
}

.inactive {
  pointer-events: none;
  background-color: #6d6d6d;
}

.dictionary {
  margin: 10px 20px;
  font-weight: 600;
}

.dictionary ul {
  list-style-type: none;
}

.dictionary ol {
  font-weight: 400;
  margin-left: 30px;
  list-style: none;
  counter-reset: li;
}

.dictionary ol li {
  color: #fff;
  margin: 5px 0px;
  padding: 2px 10px;
  background: #fc9312;
  border-radius: 20px;
  counter-increment: li;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
}

.dictionary ol li::before {
  content: counter(li);
  color: #6d6d6d;
  width: 1em;
  margin-right: 10px;
}

/* .top-left-element {
  position: absolute;
  top: 8px;
  left: 8px;
}

.top-right-element {
  position: absolute;
  top: 8px;
  right: 8px;
} */
/*# sourceMappingURL=style.css.map */
